.container {
  height: auto;
  overflow: hidden;
}

.code  {
  background: #e8f6fe;
  /* the next props are meant to keep this block independent from the other floated one */
  width: auto;
  overflow: hidden;
}

.content_output {
  width: 500px;
  float: right;
  background: #aafed6;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
