body {
  font-size: 100%;
}

.scope{

	padding: 10px;
	/*background: url(http://www.cst.uwaterloo.ca/DSS/images/uw_map_big.jpg);*/
	background-repeat: no-repeat;
	background-size: 1680px 860px;
	background-position: center center;
	background-attachment: fixed;
}

.home{
    opacity: 0.9;

}

.search {
	margin:3px;
	border: 6px;
}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

.portfolio_description {
    position:absolute;
    width:100%;
    top:0;
    background-color:rgba(255, 255, 255, 0.5);
}

.background {
	font-size: 200px;
}

#container {
  position: relative;

}
#image {
  position: relative;

  /*height: 1200px;
  width: 1900px;*/
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.first {
  font-size: 55px;
  height: 100%;
  width: 100%;
}

.button1 {
  position:absolute;right:72%;top:50%;
  background-color:transparent;
  -moz-border-radius:19px;
  -webkit-border-radius:19px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:26px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
}

.button1:hover {
  background-color:transparent;
}

.button1:active {
  position:relative;
  top:1px;
}
.button2 {
  position:absolute;right:56%;top:50%;
  background-color:transparent;
  -moz-border-radius:19px;
  -webkit-border-radius:19px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:26px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
}

.button2:hover {
  background-color:transparent;
}

.button2:active {
  position:relative;
  top:1px;
}

.button3 {
  position:absolute;right:40%;top:50%;

}
.button4 {position:absolute;right:24%;top:50%;}
.angular-google-map-container { height: 500px;  }
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
