<div class="navdiv">
</div>
<div class="aboutus">
  <center><h2>Who are we?</h2></center>
  <center><p> A bunch of baddies helping you find your way around </p></center>
  <center><p> we're also management engineers </p></center>
  <center><p> we love to optimize! </p></center>
  <hr>
  <center><h1>Meet the team!</h1></center>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-sm-3">
        <a href="#" class="portfolio-box2">
          <img src="images/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Back-end Developer
              </div>
              <div class="project-name">
                Eric Wong
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="portfolio-box2">
          <img src="images/portfolio/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Front-end Designer
              </div>
              <div class="project-name">
                Anuja Chokshi
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="portfolio-box2">
          <img src="images/portfolio/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Data Scientist
              </div>
              <div class="project-name">
                Astor Wong
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="portfolio-box2">
          <img src="images/portfolio/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project Manager
              </div>
              <div class="project-name">
                Motaz Al-Ashhab
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
