<div class="navdiv"></div>
<div class="aboutus">

  <center><h1>Who are we?</h1></center>
  <hr>
  <center><p> A group of Management Engineers helping you find your way around.</p></center>
  <center><h1>Meet the team!</h1></center>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-sm-3">
        <a class="portfolio-box2">
          <img src="images/Motaz2.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Project Manager
              </div>
              <div class="project-name">
                Motaz Al-Ashhab
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3">
        <a class="portfolio-box2">
          <img src="images/Anuja.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Front-end Designer
              </div>
              <div class="project-name">
                Anuja Chokshi
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a class="portfolio-box2">
          <img src="images/Astor.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Data Scientist
              </div>
              <div class="project-name">
                Astor Wong
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a class="portfolio-box2">
          <img src="images/Eric.jpg" class="img-responsive" id="pic" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Full Stack Developer
              </div>
              <div class="project-name">
                Eric Wong
              </div>

            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-sm-3">
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a class="portfolio-box2">
      <img src="images/Igor.jpg" class="img-responsive" alt="">
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            Advisor
          </div>
          <div class="project-name">
            Dr. Igor Ivkovic
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a class="portfolio-box2">
      <img src="images/adahurst.png" class="img-responsive" alt="">
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            Coordinator
          </div>
          <div class="project-name">
            Ada Hurst
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
      </div>
    </div>
  </a>
</div>
</div>
</div>
</div>
