<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <Title>Floor Mapping</Title>
  <!-- All dem script calls. -->
  <link rel="stylesheet" type="text/css" href="../../temp_files/demos/demo1.css">
  <script src="../../libs/jquery/dist/jquery.min.js"></script>
  <script src="../../../server/jquery.tabletoCSV.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../../server/jquery.csv.js"></script>
  <script>
  function FindPosition(oElement)
  {
    if(typeof( oElement.offsetParent ) != "undefined")
    {
      for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
      {
        posX += oElement.offsetLeft;
        posY += oElement.offsetTop;
      }
      return [ posX, posY ];
    }
    else
    {
      return [ oElement.x, oElement.y ];
    }
  }

  function GetCoordinates(e)
  {
    var PosX = 0;
    var PosY = 0;
    var ImgPos;
    ImgPos = FindPosition(container);
    if (!e) var e = window.event;
    if (e.pageX || e.pageY)
    {
      PosX = e.pageX;
      PosY = e.pageY;
    }
    else if (e.clientX || e.clientY)
    {
      PosX = e.clientX + document.body.scrollLeft
      + document.documentElement.scrollLeft;
      PosY = e.clientY + document.body.scrollTop
      + document.documentElement.scrollTop;
    }
    PosX = PosX - ImgPos[0];
    PosY = PosY - ImgPos[1];

    document.getElementById("x").innerHTML = PosX;
    document.getElementById("y").innerHTML = PosY;

    var table = document.getElementById("coordinatesTable");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell1.innerHTML = PosX;
    cell2.innerHTML = PosY;
    var roomNum = prompt("What's the room number?")
    if (roomNum != null) {
      cell3.innerHTML = roomNum;
    }
    var color = '#FF0000';
    var size = '5px';

    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");
    context.fillStyle="#FF0000";
    context.font = "9px Arial";
    context.fillText(row.cells[2].innerHTML, PosX-15,PosY);
    // context.fillRect( PosX, PosY, 5, 5 );

  }

  function ImportCoordinates()
  {
    var color = '#FF0000';
    var size = '5px';

    var table = document.getElementById("coordinatesTable");
    for (var i = 1; row = table.rows[i]; i++) {
      PosX = row.cells[0].innerHTML;
      PosY = row.cells[1].innerHTML;

      var canvas = document.getElementById("myCanvas");
      var context = canvas.getContext("2d");
      context.fillStyle="#FF0000";
      context.font = "9px Arial";
      context.fillText(row.cells[2].innerHTML, PosX-15,PosY);
      // context.fillRect( PosX, PosY, 5, 5 );
    }
  }

  $(function(){
    $("#export").click(function(){
      $("#coordinatesTable").tableToCSV();
    });

    $("#import").click(function(){
      document.getElementById("import").style.display = 'block';
      this.style.display = 'none';
      ImportCoordinates();
    });

    $("#container").click(function(){
      var container = document.getElementById("container");
      checkTable();
      container.onmousedown = GetCoordinates;
    });

  });

  $(document).ready(function() {
      $('#files').bind('change', handleFileSelect);
  });

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    var file = files[0];

    // read the file metadata
    var output = ''
    output += '<span style="font-weight:bold;">' + escape(file.name) + '</span><br />\n';
    output += ' - LastModified: ' + (file.lastModifiedDate ? file.lastModifiedDate.toLocaleDateString() : 'n/a') + '<br />\n';

    // read the file contents
    printTable(file);

    // post the results
    $('#list').append(output);
    $('#files').css(this.style.display = 'none');
  }

  function checkTable() {
    var count = $('#coordinatesTable tr').length;
    if (count <= 0) {
      $('#coordinatesTable').append("<tr><th>X coordinate</th><th>Y coordinate</th><th>Room Number</th></tr>");
    }
  }

  function printTable(file) {
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function(event){
      var csv = event.target.result;
      var data = $.csv.toArrays(csv);
      var html = '';
      checkTable();
      for(var row in data) {
        html += '<tr>\r\n';
        for(var item in data[row]) {
          html += '<td>' + data[row][item] + '</td>\r\n';
        }
        html += '</tr>\r\n';
      }
      $('#coordinatesTable').append(html);
    };
    reader.onerror = function(){ alert('Unable to read ' + file.fileName); };
  }
</script>
</head>

<body>
  <div id="container">
    <img src="../../images/Waterloo Floor Plans/RCH2.png" id="myImgId"
    style="position: absolute; left: 0px; top:0px; z-index: 2;">
    <canvas id="myCanvas" width="1174" height="840"></canvas>
  </div>

  <div style="background-color:#E8E8E8">
    <!--Hit this button to export current coordinates to CSV.-->
    <div id="inputs" class="clearfix">
      <button id="export" data-export="export">Export</button>
      <button id="import">Import</button>
      <!-- <button id="draw" onclick="drawLine('RCH 122H7', 'RCH 122H6')">Draw Line</button> -->
      <input type="file" id="files" name="files[]" multiple />
      <!-- For building selection from UWAPI. -->
      <select id="sel">
      </select>
    </div>
    <output id="list">
    </output>
    <br>
    <!-- This makes the x and y coordinate mapping possible, even if hidden. -->
    <p hidden="">X:<span id="x" name="x_cor"></span></p>
    <p hidden="">Y:<span id="y" name="y_cor"></span></p>
    <table border id="coordinatesTable">
    </table>
  </div>
</body>
</html>
