<div class="navdiv">
</div>

      <div class="container2">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find What's Near You</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    
    <div id="wrapper">
      
                <h1 id="home">
                    <a id="menu-toggle" data-toggle="collapse" ng-click="scrollTo('sidebar-wrapper')" class="glyphicon glyphicon-chevron-right btn-sm">
                    </a> 
                   <!--  <a id="menu-toggle" data-toggle="collapse" class="glyphicon glyphicon-chevron-left btn-sm">
                    </a>  -->
                </h1>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="#home"><span class="fa fa-home solo">Home</span></a>
                    </li>
                    <li>
                        <a href="#anch1" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch2" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch3" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch4" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 4</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

   
   
     <div class="page-content inset" data-spy="scroll" data-target="#spy">
     </div>

    </script>
	<div id="targetLocation" align="center">
  		<img id="buildingmap"/>
	</div>

      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events" options="map.options">
          <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>




<!-- <a class="button" ng-click="findMe()" href="">Find me</a>-->

<!-- Fix this later. -->
  <!--<ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()">
  </ui-gmap-window>
  <ui-gmap-markers ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-markers> -->
  <!--<ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" ng-click="onClick()" events="markers.events"></ui-gmap-markers>
