
<div class="header-content">
	  <img alt="full screen background image" src="../images/backgroundpic.png" id="full-screen-background-image" /> 
  <div class="header-content-inner">
    <h1>Welcome to uNav</h1>
    <hr>
    <p>Lost? Find yourself - Click on Search for directions.</p>
    <a href="#search" class="btn btn-primary btn-xl page-scroll">Search</a>
    <a href="#nearyou" class="btn btn-primary btn-xl page-scroll">Near You</a>
    <a href="#about" class="btn btn-primary btn-xl page-scroll">About</a>
    <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact</a>
  </div>
</div>
