<table width="500" border="0" cellpadding="30" align="center">

  <tr>
    <td align="center" valign="center">
      <img src="../images/nearYou/Coffee1.png" alt="coffee" />
      <div id="first">
        Coffee
      </div>
    </td>

    <td align="center" valign="center">
      <img src="../images/nearYou/Bathroom2.png" alt="Washrooms" />
      <br />
      Washrooms
    </td>

    <td align="center" valign="center">
      <img src="../images/nearYou/water3.png" alt="water" />
      <br/>
      Water Fountain
    </td>
  </tr>


  <tr>

    <td align="center" valign="center">
      <img src="../images/nearYou/stairs4.png" alt="stairs" />
      <div id="first">
        Stairs
      </div>
    </td>

    <td align="center" valign="center">
      <img src="../images/nearYou/handicap5.png" alt="wheelchair" />
      <br />
      Wheelchair Accessibility
    </td>

    <td align="center" valign="center">
      <img src="../images/nearYou/elevators5.png" alt="elevator" />
      <br/>
      Elevators
    </td>
  </tr>

</table>
