<div class="navdiv">
</div>

<div class="aboutus">

  <h1><center>Please enter your current building:</center></h1>
  <hr>
  <center><div class="search col-md-offset-6" ng-show="build == undefined">
    <select ng-model="build" id="buildingsInUW" class="chosen-select" data-placeholder="Search" tabindex="1"></select>
  </div></center>
  <br>

  <div ng-show="build != undefined" class="buildingName">
    <div ng-show="showSelect">
      <center><h4>{{build}}
        <button ng-click="floor(1)" class="btn" id="floor1">1</button>
        <button ng-click="floor(2)" class="btn btn-primary disabled" ng-show='build == "RCH"' id="floor2">2</button>
        <button ng-click="floor(3)" class="btn" id="floor3" ng-show='build == "RCH"'>3</button>
        <button ng-click="restart()" class="btn btn-danger btn-sm btn-round" id="restart">x</button></h4></center>

        <!-- Avoid areas -->
        <center><p>
          Avoid:
          <input type="checkbox" class="limit" id="stairSearch"> Stairs</input>
          <input type="checkbox" class="limit" id="elevatorSearch"> Elevators</input>
        </p></center>
        <center><div class="search col-md-offset-6">
        <select ng-model="src" id="roomSrc" class="chosen-select" data-placeholder="Which room?" no-results-text="'Could not find your location :('"></select></div></center>
        <br>
        <center><div class="search col-md-offset-6">
          <select ng-model="dest" id="roomDest" class="chosen-select" data-placeholder="To where?" no-results-text="'Could not find your location :('"></select></div></center>
        <br>
      </div>
      <div ng-show="!showSelect"><h2>There is no data available for {{build}}.</h2></div>

      <!-- OPTIMIZATION: MAKE THESE DYNAMIC INSTEAD OF STATIC -->
      <div align="right">
        <a ng-show="src != undefined && dest != undefined" ng-click='ShowHide("")' class="glyphicon btn-sm" id="searchButton" value="Expand"></a>
      </div>

    </div>

    <div id="searchWrapperOuter">

      <div class="resizeMap" id="searchWrapper">
        <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom" data-tap-disabled="true" draggable="true" events="map.events" options="map.options">
          <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="m.options">
            <!-- <div ng-non-bindable>
              <ui-gmap-window id="marker-{{$index}}" options="windowOptions" closeClick="closeClick()"></ui-gmap-window>
            </div> -->
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>

      <div ng-hide="IsHidden" class="roomDetails" id="roomSideBar">

        <div ng-hide="IsHidden" class="room1Details" ng-show="one">
          <!-- <div class="time"> -->
          <center><h2 ng-show="distance > 0">Time: {{distance}} s.</h2></center><!-- </div> -->
          <hr>

          <center><p> Location 1 Details:</p></center>

          <center><p>{{src}}</p></center>

          <center><p id=l1Details>"Hello"</p></center>
        </div>

        <div ng-hide="IsHidden" class="room2Details" ng-show="two">

          <center><p> Location 2 Details:</p></center>

          <center><p>{{dest}}</p></center>

          <center><p id=l2Details></p></center>
        </div>
      </div>
    </div>

  </div>
