<div class="navdiv">
</div>

<h2><center>Where would you like to go today?</center></h2>

<div class="search col-md-offset-6" ng-show="build == undefined">
  <select ng-model="build" id="buildingsInUW" class="chosen-select" data-placeholder="Where are you?" tabindex="1"></select>
</div>

<div ng-show="build != undefined">
  <h2>Current building is: {{build}}</h2>
  <select ng-model="src" id="roomSrc" class="chosen-select" data-placeholder="Which room?" no-results-text="'Could not find your location :('"></select>
  <select ng-model="dest" id="roomDest" class="chosen-select" data-placeholder="To where?" no-results-text="'Could not find your location :('"></select>

  <!-- <button class="btn btn-primary" ng-click="drawDirections()">Get Directions</button> -->
  <button ng-click="restart()" class="btn btn-primary" id="restart">Restart</button>
</div>
<h2 ng-show="distance > 0">The distance is: {{distance}}</h2>
<div>
<ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom" data-tap-disabled="true" draggable="true" events="map.events" options="map.options">
  <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id">
  <!-- <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" click="onClick()" idkey="m.id" events="marker.events"> -->
    <!-- <ui-gmap-window id="marker-{{$index}}" options="windowOptions" closeClick="closeClick()"></ui-gmap-window> -->
  </ui-gmap-marker>
</ui-gmap-google-map>
</div>


<div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>

<!-- <a class="button" ng-click="findMe()" href="">Find me</a> -->
